.dashboard {
  display: flex;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("CultureHomeImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.categories-list {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex; /* Flexbox for layout */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items */
}

.li,
.start-convo-btn {
  background-color: #484444; /* Light background color */
  color: #ffffff; /* Dark text color */
  padding: 15px 20px; /* Add padding */
  margin: 10px; /* Add margin */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
  cursor: pointer; /* Pointer cursor on hover */
  font-family: "Arial", sans-serif; /* Font style */
  font-size: 16px; /* Font size */
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensure relative positioning */
}

.category-item:hover {
  background-color: #650606; /* Slightly different background on hover */
  transform: translateY(-5px); /* Lift item on hover */
  color: rgb(0, 0, 0);
}

.category-item:active {
  background-color: #d0e8ff; /* Different background on active */
  transform: translateY(-2px); /* Less lift on active */
}

.category-link {
  display: flex; /* Ensure flexbox layout */
  align-items: center; /* Center items vertically */
  width: 100%; /* Fill the width of the parent */
  height: 100%; /* Fill the height of the parent */
}

.dashboard-p {
  color: #fff;
  padding: 5% 0 3%;
  margin: 0;
  display: flex;
  justify-content: center; /* Center the text */
  text-align: center; /* Center text alignment */
  font-size: 2.5rem; /* Increase font size */
  font-family: "Arial", sans-serif; /* Set font family */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.start-convo-link {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #484444;
  color:000 ;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 16px;
  text-align: center;
  margin: 0 10px;
}

.start-convo-link:hover {
  background-color: #0056b3;
}
